<h1>Danh sách các thiết bị</h1>
<div class="action-device">
  <div class="add-device">
    <button nz-button nzType="primary" (click)="addDevice()">
      <span>Thêm thiết bị</span>
    </button>
  </div>
  <div class="search-device">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input type="text" nz-input [(ngModel)]="searchValue" placeholder="Nhập tên thiết bị" />
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary"nzSize="small"  nzSearch>Tìm kiếm</button>
    </ng-template>
  </div>
</div>
<nz-table [nzData]="devices" nzBordered  [nzPageSize]="5" [nzScroll]="{ y: '240px' }">
  <thead>
    <tr>
      <th >Tên thiết bị</th>
      <th nzWidth=150px>IMEI</th>
      <th nzWidth=150px>Trọng Lượng (kg)</th>
      <th nzWidth=120px>Kinh độ</th>
      <th nzWidth=120px>Vĩ độ</th>
      <th>Chỉnh sửa</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let device of devices | searchfilter : searchValue">
      <td>{{ device.name }}</td>
      <td>{{ device.imei }}</td>
      <td>{{ device.weight}}</td>
      <td>{{ device.longtitude}}</td>
      <td>{{ device.latitude}}</td>
      <td>
        <button nz-button class="update" nzType="primary" (click)="onEdit(device)">Sửa</button>
        <button nz-button nzType="primary" nzDanger (click)="delete(device.id)">Xóa</button>
      </td>

    </tr>
  </tbody>
</nz-table>

<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="520" [nzVisible]="visible"
  nzTitle="Thông tin thiết bị" [nzFooter]="footerTpl" (nzOnClose)="close()">
  <form nz-form *nzDrawerContent [formGroup]="form">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control>
          <input type="hidden" formControlName="id" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Tên thiết bị</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Nhập tên thiết bị" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>IMEI</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="Nhập IMEI của thiết bị" formControlName="imei" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Trọng lượng</nz-form-label>
        <nz-form-control>
          <nz-input-group nzAddOnAfter="(kg)">
            <input type="number" nz-input placeholder="Nhập trọng lượng" formControlName="weight" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Kinh độ</nz-form-label>
        <nz-form-control>
          <input type="number" nz-input placeholder="Nhập kinh độ của thiết bị" formControlName="longtitude" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Vĩ độ</nz-form-label>
        <nz-form-control>
          <input type="number" nz-input placeholder="Nhập vĩ độ của thiết bị" formControlName="latitude" />
        </nz-form-control>
      </nz-form-item>
    </div>


  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="close()">Hủy</button>
      <button nz-button *ngIf="showAdd" nzType="primary" (click)="close()" (click)="createDevice()">Thêm</button>
      <button nz-button *ngIf="showUpdate" nzType="primary" (click)="close()" (click)="updateDevice()">Cập nhật</button>
    </div>
  </ng-template>
</nz-drawer>