  .login-form {
    max-width: 300px;
  }

  /* .login-form-margin {
    margin-bottom: 16px;
  } */

  .login-form-button {
    width:  100%;
    border-radius: 10rem;
    margin-top: 10px;
  }
  .containner{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #096dd9; */
  }
  .login{
    padding: 20px;
    background-color:white;
    border: 1px solid black;
    border-radius:5% 5% 5% 5%;
    text-align: center;
  }