<nz-layout class="app-layout">

  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null" *ngIf="showSider">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>SMART IOT</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Địa điểm" nzIcon="environment">
        <ul>
          <li nz-submenu nzTitle="Hà Nội">
            <ul>
              <li nz-menu-item>
                <a routerLink="/location">Giám sát trên MAP</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/device">Thống kê</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Thanh Hóa">
            <ul>
              <li nz-menu-item>
                <a routerLink="/location">Giám sát trên MAP</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/device">Thống kê</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Đà Nẵng">
            <ul>
              <li nz-menu-item>
                <a routerLink="/location">Giám sát trên MAP</a>
              </li>
              <li nz-menu-item>
                <a routerLink="/device">Thống kê</a>
              </li>
            </ul>
          </li>

        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Tham số quan trắc" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/chart">Nhiệt độ</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a >Độ ẩm</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a >Độ PH</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a >NH<sub>4</sub> </a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''"
        >
        <i nz-icon nzType="history"></i>
        <span>Lịch sử quan trắc</span>
      </li>

    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header *ngIf="showSider">
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span class="spacer"></span>
        <span (click)="logout()">
          <a routerLink="/auth/login"> <i class="logout" nz-icon nzType="logout"></i></a>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<!-- <router-outlet *ngIf="!showSider"></router-outlet> -->