
<div style="display: flex;">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" 
        style="width: 50%; height: 200px; display: block;">
    </highcharts-chart>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" 
        style="width: 50%; height: 200px; display: block;">Thiết bị 2
    </highcharts-chart>
</div>
<div style="display: flex;">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" 
        style="width: 50%; height: 200px; display: block;">
    </highcharts-chart>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
        style="width: 50%; height: 200px; display: block;">
    </highcharts-chart>
</div>